# vi /etc/systemd/system/nodeapp.service
[Unit]
Description=MyNodeApp

[Service]
Type=simple
ExecStart=/var/tmp/nodeapp.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target

# systemctl daemon-reload
# systemctl enable nodeapp.service
# systemctl start nodeapp.service